<div class="custom-toolbar">
    Mechanic App
</div>




<body>
    <ul style="margin-top: 40px;" class="options-list">
        <li>
            <span class="option-label">Welcome, {{currentUser?.name}}</span>
        </li>

        <li>
            <span class="option-label">Reset Password</span>
            <button (click)="resetPassword()" class="option-button">Go</button>
        </li>

        <li>
            <span class="option-label">Delete Account</span>
            <button (click)="deleteAccount()" class="option-button">Delete</button>
        </li>

        <li>
            <span class="option-label">Logout</span>
            <button (click)="logout()" class="option-button">Logout</button>
        </li>
    </ul>
</body>