<div class="custom-toolbar">
  Welcome, Dashboard
</div>


<body>

  <div class="container">
    <div class="card" *ngFor="let mechanic of nearByMechanics">
      <div class="shop-info">
        <img class="shop-avatar" src="https://static.thenounproject.com/png/789280-200.png" alt="Shop Avatar">
        <div>
          <div class="shop-name">{{ mechanic.name }}</div>
          <div class="shop-address">{{ mechanic.address }}</div>
        </div>
      </div>
      <div class="distance">{{getRandomDistance()}} m Away</div>
      <button (click)="call(mechanic?.phone)" class="call-button">Call</button>
      <button (click)="navigateToMaps(mechanic.lat,mechanic.lng)" class="profile-button">View Location</button>
      <button class="profile-button" (click)="book(mechanic)">Get Service</button>
    </div>
  </div>
</body>